.card {
    width: 70%;
    min-width: 500px;
    padding: 15px;
    border: none;

    img {
        width: 75%;
        animation: 2s float ease-in-out infinite;
    }
}

@keyframes float {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(3deg);
    }
}